{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  }
}
